*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: navy;
    display: grid;
    place-items: center;
    height: 100vh;
}

/* Style the container */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 300px;
    background-color:darkorange;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 20px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 30px;
}

p{
    text-align: center;
}
 
/* Style the form part */
form{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 20px;
    font-weight: bold;
}

input{
    padding: 5px;
    border: none;
    border-bottom: 1px solid rbg(137,137,137);
    margin-top: 10px;
    outline: none;
}

/* Style the login button */
.login-btn{
    border: none;
    background-color:darkgreen;
    color: black;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 30px;
}

/*Style the logout button*/
.logout-btn{
    border: none;
    background-color: red;
    color: #fff;
    height: 50px;
    width: 100px;
    font-size: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
}

/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 20px;
    height: 65px;
    width: 100vw;
    margin-inline-end: auto;
    margin-bottom: auto;
    background-color: darkgrey;  
    box-shadow: 5px 5px;
    
}

/* Style the signin button */
button{
    border: none;
    height: 40px;
    width: 100px;
    font-size: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    outline-style:groove; 
    
}
 
